@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primaria: #4E1773;
    --primaria-clara: #a96dd0;
    --secundaria: #F29A2E;
    --fundo: #f5f5f5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--fundo);
    line-height: 1.5em;
}

header {
    background-color: var(--secundaria);
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 70px;
}

header h1 {
    color: black;
    font-size: 1.8em;
}

nav {
    background-color: var(--primaria);
    padding: 10px;
    margin-bottom: 10px;

    position: sticky;
    top: 0px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 5px;

    list-style: none;
}

nav a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px;
    border-radius: 10px;
}

nav a:hover {
    color: var(--primaria);
    background-color: var(--secundaria);
}

main {
    display: grid;
    grid-template-columns: 1fr 95vw 1fr;
    gap: 15px;
}

main img {
    aspect-ratio: 16/9;
    object-fit: cover;

    filter: brightness(35%) sepia(100%) hue-rotate(260deg) saturate(400%);

    width: 100%;
    height: 200px;

    grid-column: 2;
}

#quem-somos, #servicos, #unidade, #agendar {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    grid-column: 2;
}

#quem-somos h2 {
    margin-bottom: 5px;
    color: var(--primaria);
}

#quem-somos p {
    text-align: justify;
}

#quem-somos .social {
    display: flex;
    justify-content: center;
    gap: 10px;

    margin-top: 10px;
}

#quem-somos .social a {
    font-size: 1.6em;
    color: var(--primaria);
    transition: 0.3s;
}

#quem-somos .social a:hover {
    color: var(--primaria-clara);
}

#servicos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#servicos h2 {
    color: var(--primaria);
    grid-column: 1 / -1;
}

.servico {
    background-color: var(--fundo);
    padding: 10px;
    border-radius: 10px;
    border-left: 5px solid var(--primaria-clara);
    transition: 0.3s;
}

.servico:hover {
    border-left: 15px solid var(--primaria);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    
}