@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primaria: #4E1773;
    --primaria-clara: #a96dd0;
    --secundaria: #F29A2E;
    --fundo: #f5f5f5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--fundo);
    line-height: 1.5em;
}

header {
    background-color: var(--secundaria);
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 70px;
}

header h1 {
    color: black;
    font-size: 1.8em;
}

nav {
    background-color: var(--primaria);
    padding: 10px;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 5px;

    list-style: none;
}

nav a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px;
    border-radius: 10px;
}

nav a:hover {
    color: var(--primaria);
    background-color: var(--secundaria);
}

main {
    display: grid;
    grid-template-columns: 1fr 95% 1fr;
    gap: 15px;
}

main img {
    aspect-ratio: 16/9;
    object-fit: cover;

    filter: brightness(35%) sepia(100%) hue-rotate(260deg) saturate(400%);

    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 350px;
    border-radius: 10px;
    margin-bottom: 10px;

    grid-column: 2;
}

#quem-somos, #servicos, #localizacao {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    grid-column: 2;
}

#quem-somos h2 {
    margin-bottom: 10px;
    color: var(--primaria);
}

#quem-somos p {
    text-align: justify;
}

#quem-somos .social {
    display: flex;
    justify-content: center;
    gap: 10px;

    margin: 5px 0px;
}

#quem-somos .social a {
    font-size: 1.6em;
    color: var(--primaria);
    transition: 0.3s;
}

#quem-somos .social a:hover {
    color: var(--secundaria);
}

#servicos {
    display: grid;
    gap: 10px;
}

#servicos img {
    grid-column: 1 / -1;
    object-position: center 70%;
}

#servicos h2 {
    color: var(--primaria);
    margin-bottom: 5px;
}

.servico {
    background-color: var(--fundo);
    padding: 10px;
    border-radius: 10px;
    border-left: 5px solid var(--primaria-clara);
    transition: 0.3s;
}

.servico:hover {
    border-left: 15px solid var(--secundaria);
    cursor: pointer;
}

#servicos a {
    display: block;
    background-color: var(--primaria);
    grid-column: 1 / -1;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

#servicos a:hover {
    background-color: var(--secundaria);
    color: var(--primaria);
}

#localizacao {
    margin-bottom: 10px;
}

#localizacao h2 {
    color: var(--primaria);
    margin-bottom: 10px;
}

.endereco, .horarios {
    background-color: var(--fundo);
    border-radius: 10px;
    padding: 10px;
    border-left: 5px solid var(--primaria-clara);
    width: 100%;
    margin-bottom: 10px;
    transition: 0.3s;
}

.endereco:hover, .horarios:hover {
    border-left: 15px solid var(--secundaria);
}

footer {
    background-color: var(--primaria);
    padding: 10px;
    color: white;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

footer a:hover {
    color: var(--secundaria)
}

@media screen and (min-width: 768px) {
    main {
        grid-template-columns: 1fr 75% 1fr;
    }

    main img {
        max-height: 350px;
    }

    #servicos {
        grid-template-columns: 1fr 1fr;
    }

    #servicos h2 {
        grid-column: 1 / -1;
    }
}